[submodule "hugo-minimalist-theme"]
	path = hugo-minimalist-theme
	url = https://github.com/digitalcraftsman/hugo-minimalist-theme.git
[submodule "hugo-type-theme"]
	path = hugo-type-theme
	url = https://github.com/digitalcraftsman/hugo-type-theme.git